################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/IISManager/obj
/IISManager/bin
/IISManager/Configuration/CertificateRequests.json
/IISManager/Configuration/LetsEncryptAccount.pem
/IISManager/Configuration/WebSites.json
